@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }
   

 body {
  background-color:rgb(16,60,31);
 }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
   
    
  }
  .navbar .logo {
      font-family: "Pacifico", cursive; 
      font-size: 30px;
      font-weight: 800;
      color: white;
    }
     .logo-nap {
      color: blue;
     }
      .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
      }
      .menu-toggle  .bar {
    background-color: white;
    width:50px ;
    height: 4px;
    height: 10px;
   } 
     .nav-link {
      display: flex;
      list-style: none;
      gap: 15px;
     }
     .nav-link li {
      display: inline;
     }
     .nav-link li a {
      text-decoration: none;
      color:white;
      font-weight: 600;
      font-size: 20px;
     }
       i {
    
      color: blue;
    margin-right: 5px;
    font-size: 16px;
     }
       .container{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
      margin-bottom: 10px;
       width: 400px; 
       margin: 40px;
       padding: 15px;
      color: white;
       background-color: #3cc413;
       border-radius: 25px;
       height: 100px;
      }
        .container button {
          width: 400px;
          padding: 10px;
          margin-top: 5px;
          font-size: 18px;
          font-weight: 400px;
          color: white;
          border: none;
        
         
        }
         .socio-media {
          font-size: 18px;
          font-family: 'Courier New', Courier, monospace;
          color: white;
          font-weight: 800;
         
         }
         .container a {
         text-decoration: none;
         color: white;
         }
         .container i {
          color:rgb(2, 56, 20);
          font-size: 20px;
         }
      
     @media (max-width:780px){
      .menu-toggle {
      display: flex;
    }
     .nav-link li a {
      text-decoration: none;
     }
     .nav-link {
      display: flex;
     flex-direction: column;
     position: absolute;
     top: 60px;
     right: 20px;
     background-color: black;
     width: 200px;
     }
    
     .nav-link li a:hover {
      display: flex;
     }

     }

